
.home-panel{
	font-size: 20;
	margin: 15;
    padding: 15px;
    width: 80%;
    background-color:white ;
}

.fondoT{
    background-image: url("~/images/cabezeraRe.png") no-repeat;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

TextField {
  placeholder-color: #969FAA;
  border: #969FAA;
}
.contojo{
    border-width: 2;border-color: #C5CCD4;
    height: 45;
}
.page{
    font-family: 'Roboto', sans-serif;
}

.textoH2{
    font-size:20;
}
.texto{
    font-size:15;
}
.margin15px{
    margin-top: 15px;

}
.texto2{
    background-color: #00A6FF;
    color: black;
    border-radius: 15%;
}
.main{
    justify-content: left;
}

.color1{
    background: #45669C;
    color: white;
    border-radius: 25%;
}

.colortitu{
    background: #00A6FF;
    color: black;
}

.color2{
    background: #6b6a6a;
    text-align: center;
}

.logoZero{
    width: 85%;
    height: 55%;
    margin-top: 40%;
}

.logoCorreo{
    padding: 0;
    margin: 0;
}

.esp{
    margin: 0;
    height: auto;
}

.titulo{
    background-color: #00A6FF;
}


.ContImage{
    background-color: #00A6FF;
    width: 100%;
    height: 155;
}


.my-button {
    android-elevation: 4;
    background-color: lightseagreen;
    border-color: darkolivegreen;
    border-radius: 20;
    border-width: 1;
    color: whitesmoke;
    font-size: 18;
    font-weight: bold;
}

.my-button:active {
    android-elevation: 8;
    background-color: whitesmoke;
    border-color: darkolivegreen;
    border-radius: 20;
    border-width: 1;
    color: lightseagreen;
    font-size: 18;
    font-weight: bold;
}
