<ActionBar title="{{ pageTitle }}">
    <NavigationButton icon="~/images/flechaIZ.png" [nsRouterLink]="['/app/welcome']"></NavigationButton>
    <!--<ActionItem icon="~/images/economico.png" tap="save()" ios.position="right" android.position="right">
    </ActionItem>-->
</ActionBar>

<StackLayout>
    <ScrollView>
        <StackLayout class="control width-360-85 width-411-80">


            <Label text="Contraseña *"></Label>
            <GridLayout columns="*, 40px">
                <StackLayout col="0" class="panel-pass">
                    <TextField [(ngModel)]="Contrasena" class="texto -primary -rounded-sm esp"
                               hint="🔒 Contraseña" [secure]="ver">
                    </TextField>
                </StackLayout>
                <StackLayout col="1" class="contojo controlojo-360" (tap)="mostrarP()">
                    <Image src="~/images/ojo.png" stretch="aspectFit">
                    </Image>
                </StackLayout>
            </GridLayout>
            <Label text="Repertir contraseña *"></Label>
            <GridLayout columns="*, 40px">
                <StackLayout col="0" class="panel-pass">
                    <TextField [(ngModel)]="ReContrasena" class="texto -primary -rounded-sm esp"
                               hint="🔒 Contraseña" [secure]="ver">
                    </TextField>
                </StackLayout>
                <StackLayout col="1" class="contojo controlojo-360" (tap)="mostrarP()">
                    <Image src="~/images/ojo.png" stretch="aspectFit">
                    </Image>
                </StackLayout>
            </GridLayout>
            <Label *ngIf="Contrasena != ReContrasena" text="Contraseñas distintas"
                   style="font-size: 9px;margin: 15px;"></Label>

            <Button class="color1 btn-login" text="Actualizar contraseña" (tap)="save()"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>
