<ActionBar flat="true">
</ActionBar>
<GridLayout>
    <GridLayout rows="*" height="100%">
        <RadSideDrawer>
            <StackLayout tkDrawerContent class="color">
                <StackLayout width="85%">
                    <StackLayout class="justify-left">
                        <Image style="text-align: left; color:#C5CCD4;"
                               (tap)="MostrarMenu()" src="~/images/flechaIZ.png" width="15%"></Image>

                    </StackLayout>
                    <RadListView [items]="items" height="100%">
                        <ng-template tkListItemTemplate let-item="item">
                            <GridLayout rows="*" columns="*">
                                <StackLayout col="1" row="0">
                                    <Label text="{{item.label}}" style="text-align: left;color: #646464;"
                                           textWrap="true" (tap)="executeEvent(item)"></Label>
                                    <Label text="__________________________________________"
                                           style="text-align: center;color: #C5CCD4;"></Label>
                                </StackLayout>
                            </GridLayout>
                        </ng-template>
                    </RadListView>
                </StackLayout>
            </StackLayout>
            <StackLayout tkMainContent>
                <StackLayout>
                    <BottomNavigation #botonNav height="100%">
                        <TabStrip>
                            <TabStripItem>
                                <Label text="Inicio"></Label>
                                <Image src="res://home"></Image>
                            </TabStripItem>

                            <TabStripItem>
                                <Label text="Mis Actividades"></Label>
                                <Image src="~/images/chulomenu.png"></Image>
                            </TabStripItem>
                            <TabStripItem>
                                <Label text="Mi Historia"></Label>
                                <Image src="~/images/ojo.png"></Image>
                            </TabStripItem>
                        </TabStrip>
                        <TabContentItem>

                            <ScrollView>
                                <StackLayout>
                                    <StackLayout class="ContImage">
                                        <GridLayout rows="*,110px" columns="auto,*,auto,auto">
                                            <StackLayout col="0" row="0" class="icono2-360" (tap)="MostrarMenu()">
                                                <Image class="width-411-60" src="~/images/menu2.png"
                                                       stretch="aspectFit"></Image>
                                            </StackLayout>
                                            <StackLayout col="3" row="0" class="icono-360" style="margin-right: 25px;"
                                                         id="popup-menu-btn"
                                                         (tap)="showPopupMenu('popup-menu-btn')"
                                            >
                                                <Image class="width-411-60" src="~/images/user.png" stretch="aspectFit">
                                                </Image>
                                            </StackLayout>
                                            <StackLayout col="0" row="1" colSpan="4" verticalAlignment="center"
                                                         style="margin-top: -80px;">
                                                <Image class="width-411-60" src="~/images/logozero.png"
                                                       stretch="aspectFit"
                                                       style="width: 50%;height: 50%;">
                                                </Image>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>
                                    <StackLayout style="margin-top: -50px; border-radius: 20px; background-color: #fff">
                                        <StackLayout class="text-welcome">
                                            <Label text="¡Hola!"
                                                   style="text-align: center;color:#646464;margin-top: 20px;"
                                                   class="h1"></Label>
                                            <Label [text]="nombreC"
                                                   style="text-align: center;color:#646464; font-weight: bold;text-transform: capitalize; margin-top: -10px;"
                                                   class="h1"></Label>
                                        </StackLayout>
                                        <StackLayout class="contenedorNavT">
                                            <StackLayout class=" contenedorNav"
                                                         [nsRouterLink]="['/app/centro-reconocimiento']">
                                                <GridLayout rows="*" columns="*,auto">
                                                    <StackLayout col="0" row="0">
                                                        <Label class="foz-360-18 foz-411-18 mt-home-box"
                                                               style="color: #646464;text-align: left;color: #646464;margin-left: 20;"
                                                               textWrap="true" text="1.Descubre"></Label>
                                                        <Label class="foz-360-18 foz-411-18 mb-home-box"
                                                               style="color: #646464;text-align: left;color: #646464;margin-left: 20; font-weight: bold;"
                                                               textWrap="true" text="Centro de Conocimiento"></Label>
                                                    </StackLayout>
                                                    <StackLayout col="1" row="0">
                                                        <StackLayout class="contLogo">
                                                            <Image width="55%" style="margin-top:10px;"
                                                                   src="~/images/barco.png"
                                                                   stretch="aspectFit">
                                                            </Image>
                                                        </StackLayout>
                                                    </StackLayout>
                                                </GridLayout>
                                            </StackLayout>
                                        </StackLayout>
                                        <StackLayout class="contenedorNavT">
                                            <StackLayout class="contenedorNav"
                                                         width="80%" [nsRouterLink]="['/app/frm-1']">
                                                <GridLayout rows="*" columns="*,auto">
                                                    <StackLayout col="0" row="0">
                                                        <Label class="foz-360-18 foz-411-18 mt-home-box"
                                                               style="color: #646464;text-align: left;color: #646464;margin-left: 20;"
                                                               textWrap="true" text="2.Empieza a"></Label>
                                                        <Label class="foz-360-18 foz-411-18 mb-home-box"
                                                               style="color: #646464;text-align: left;color: #646464;margin-left: 20;font-weight: bold;"
                                                               textWrap="true" text="Reconocer tu estrés"></Label>
                                                    </StackLayout>
                                                    <StackLayout col="1" row="0">
                                                        <StackLayout class="contLogo">
                                                            <Image width="55%" style="margin-top:10px;"
                                                                   src="~/images/telescopio.png" stretch="aspectFit">
                                                            </Image>
                                                        </StackLayout>
                                                    </StackLayout>
                                                </GridLayout>
                                            </StackLayout>
                                        </StackLayout>

                                        <StackLayout class="contenedorNavT">
                                            <StackLayout class="contenedorNav"
                                                         width="80%" [nsRouterLink]="['/app/proposito']">
                                                <GridLayout rows="*" columns="*,auto">
                                                    <StackLayout col="0" row="0">
                                                        <Label class="foz-360-18 foz-411-18 mt-home-box"
                                                               style="color: #646464;text-align: left;color: #646464;margin-left: 20;"
                                                               textWrap="true" text="3.Encuentra"></Label>
                                                        <Label class="foz-360-18 foz-411-18 mb-home-box"
                                                               style="color: #646464;text-align: left;color: #646464;margin-left: 20;font-weight: bold;"
                                                               textWrap="true" text="Tu propósito de vida"></Label>
                                                    </StackLayout>
                                                    <StackLayout col="1" row="0">
                                                        <StackLayout class="contLogo">
                                                            <Image width="55%" style="margin-top:10px;"
                                                                   src="~/images/sol.png" stretch="aspectFit">
                                                            </Image>
                                                        </StackLayout>
                                                    </StackLayout>
                                                </GridLayout>
                                            </StackLayout>
                                        </StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </ScrollView>
                        </TabContentItem>
                        <TabContentItem>
                            <GridLayout>
                                <StackLayout *ngIf="consultas.length === 0" height="100%"
                                             verticalAlignment="center">
                                    <Label text="No tienes actividades en curso"
                                           class="h2 text-center"></Label>
                                </StackLayout>
                                <ScrollView class="page">
                                    <!--                                    <StackLayout iosOverflowSafeArea="false">-->
                                    <StackLayout>
                                        <StackLayout class="fondoT" width="100%" height="150px">
                                            <GridLayout rows="130px" columns="auto,*,auto" verticalAlignment="center">
                                                <StackLayout col="0" row="0" class="icon-360" (tap)="MostrarMenu()"
                                                             verticalAlignment="center">
                                                    <Image class="width-411-60" src="~/images/menu2.png"
                                                           stretch="aspectFit"></Image>
                                                </StackLayout>
                                                <StackLayout col="1" row="0">
                                                    <Label class="textoActionbar foz-24 foz-360-18" textWrap="true"
                                                           text="   Mis Actividades" style="color: white;"></Label>
                                                </StackLayout>
                                                <StackLayout col="2" row="0" class="icon-360"
                                                             id="popup-menu-btn-2"
                                                             (tap)="showPopupMenu('popup-menu-btn-2')"
                                                             verticalAlignment="center">
                                                    <Image class="width-411-60" src="~/images/user.png"
                                                           stretch="aspectFit">
                                                    </Image>
                                                </StackLayout>
                                            </GridLayout>
                                        </StackLayout>


                                        <StackLayout *ngFor="let item of consultas">
                                            <GridLayout rows="*" columns="60px,*,100px"
                                                        class="contenedorRuta h-360-300 h-400 " width="95%">
                                                <StackLayout row="0" col="0" style="margin: 15px;margin-top: 40px;">
                                                    <Image src="~/images/direct.png" stretch="aspectFit">
                                                    </Image>
                                                </StackLayout>

                                                <StackLayout row="0" col="1" style="margin: 15px;">
                                                    <Label class="foz-411-13 foz-360-13 foz-24"
                                                           style="margin-top:5px;color: #45669C;font-weight: bold;"
                                                           textWrap="true" text="{{item.tema.grupo.ruta}}"></Label>
                                                    <Label class="foz-411-13 foz-360-13 foz-18"
                                                           style="margin-top:5px;color: #646464;" textWrap="true"
                                                           text="{{item.contestadas}} de {{item.total}} actividades completadas"></Label>
                                                </StackLayout>

                                                <!--                                                <StackLayout row="0" col="2" style="margin: 15px;margin-top: 40px;">-->
                                                <!--                                                    <Image src="~/images/puntos.png" stretch="aspectFit" width="50%">-->
                                                <!--                                                    </Image>-->
                                                <!--                                                </StackLayout>-->
                                            </GridLayout>
                                            <StackLayout iosOverflowSafeArea="false">
                                                <ScrollView orientation="horizontal" style="margin-top: 60px;">
                                                    <DockLayout stretchLastChild="true">
                                                        <StackLayout
                                                                *ngFor="let actividad of item.contenidos; index as i">
                                                            <StackLayout
                                                                    class="conten contenedorWelcome-411 contenedorWelcome contenedorWelcome-360"
                                                                    dock="left"
                                                                    (tap)="continue(actividad.id, item.flujos[i], i, item.contenidos, item.id,item.flujos)"
                                                                    *ngIf="!item.flujos[i]">
                                                                <GridLayout rows="auto" columns="80px,*"
                                                                            height="{{height}}px">
                                                                    <StackLayout *ngIf="actividad.tpContenido == 3"
                                                                                 col="0" row="0"
                                                                                 style="margin-top: 20px">
                                                                        <Image src="~/images/audio.png"
                                                                               stretch="aspectFit"
                                                                               class="width80 width-411-50 width-360-50">
                                                                        </Image>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 4"
                                                                                 col="0" row="0"
                                                                                 style="margin-top: 20px">
                                                                        <Image src="~/images/grafico.png"
                                                                               stretch="aspectFit"
                                                                               class="width80 width-411-50 width-360-50">
                                                                        </Image>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 5"
                                                                                 col="0" row="0"
                                                                                 style="margin-top: 20px">
                                                                        <Image src="~/images/actividad.png"
                                                                               stretch="aspectFit"
                                                                               class="width80 width-411-50 width-360-50">
                                                                        </Image>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 3"
                                                                                 col="1" row="0">
                                                                        <Label class="foz-411-16 foz-24 foz-360-13"
                                                                               style="color: #646464;text-align: left;margin-top: 20px;"
                                                                               textWrap="true" text="  AUDIO"></Label>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 4"
                                                                                 col="1" row="0">
                                                                        <Label class="foz-411-16 foz-24 foz-360-13"
                                                                               style="color: #646464;text-align: left;margin-top: 20px;"
                                                                               textWrap="true" text="  GRAFICO"></Label>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 5"
                                                                                 col="1" row="0">
                                                                        <Label class="foz-411-16 foz-24 foz-360-13"
                                                                               style="color: #646464;text-align: left;margin-top: 20px;"
                                                                               textWrap="true"
                                                                               text="  ACTIVIDAD"></Label>
                                                                    </StackLayout>
                                                                </GridLayout>
                                                                <Label class="foz-411-13 foz-360-13 foz-18"
                                                                       style="margin-top:15px;color: #646464;margin-left: 20px;"
                                                                       textWrap="true"
                                                                       text="{{actividad.titulo}}"></Label>
                                                                <Label class="foz-411-13 foz-360-13 foz-18"
                                                                       style="margin-top:5px;color: #C5CCD4;text-align: left;margin-left: 20px;"
                                                                       textWrap="true"
                                                                       text="_________________________"></Label>
                                                                <GridLayout rows="auto,*" columns="120px,*"
                                                                            height="{{heightBox}}px">
                                                                    <StackLayout col="0" row="0">
                                                                        <Label class="foz-411-13 foz-360-13 foz-18"
                                                                               style="margin-top:5px;color: #646464;text-align: left;font-weight: bold;margin-left: 20px;"
                                                                               textWrap="true"
                                                                               text="Actividad pendiente"></Label>
                                                                    </StackLayout>
                                                                </GridLayout>
                                                            </StackLayout>

                                                            <StackLayout
                                                                    class="contenSelect contenedorWelcome-411 contenedorWelcome contenedorWelcome-360"
                                                                    dock="left"
                                                                    (tap)="continue(actividad.id, item.flujos[i], i, item.contenidos, item.id, item.flujos)"
                                                                    *ngIf="item.flujos[i]">
                                                                <GridLayout rows="auto" columns="80px,*"
                                                                            height="{{height}}px">
                                                                    <StackLayout *ngIf="actividad.tpContenido == 3"
                                                                                 col="0" row="0">
                                                                        <Image src="~/images/audio.png"
                                                                               stretch="aspectFit"
                                                                               class="width80 width-411-50 width-360-50">
                                                                        </Image>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 4"
                                                                                 col=" 0" row="0">
                                                                        <Image src="~/images/grafico.png"
                                                                               stretch="aspectFit"
                                                                               class="width80 width-411-50 width-360-50">
                                                                        </Image>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 5"
                                                                                 col=" 0" row="0">
                                                                        <Image src="~/images/actividad.png"
                                                                               stretch="aspectFit"
                                                                               class="width80 width-411-50 width-360-50">
                                                                        </Image>
                                                                    </StackLayout>

                                                                    <StackLayout *ngIf="actividad.tpContenido == 3"
                                                                                 col="1" row="0">
                                                                        <Label class="foz-411-13 foz-360-13 foz-24"
                                                                               style="color: #646464;text-align: left;margin-top: 20px;"
                                                                               textWrap="true" text="  AUDIO"></Label>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 4"
                                                                                 col="1" row="0">
                                                                        <Label class="foz-411-13 foz-360-13 foz-24"
                                                                               style="color: #646464;text-align: left;margin-top: 20px;"
                                                                               textWrap="true" text="  GRAFICO"></Label>
                                                                    </StackLayout>
                                                                    <StackLayout *ngIf="actividad.tpContenido == 5"
                                                                                 col="1" row="0">
                                                                        <Label class="foz-411-13 foz-360-13 foz-24"
                                                                               style="color: #646464;text-align: left;margin-top: 20px;"
                                                                               textWrap="true"
                                                                               text="  ACTIVIDAD"></Label>
                                                                    </StackLayout>
                                                                </GridLayout>
                                                                <Label class="foz-411-13 foz-360-13 foz-18"
                                                                       style="margin-top:15px;color: #646464;margin-left: 20px;"
                                                                       textWrap="true"
                                                                       text="{{actividad.titulo}}"></Label>
                                                                <Label class="foz-411-13 foz-360-13 foz-18"
                                                                       style="margin-top:5px;color: #C5CCD4;text-align: left;margin-left: 15px;"
                                                                       textWrap="true"
                                                                       text="_________________________"></Label>
                                                                <GridLayout rows="auto,*" columns="120px,*"
                                                                            height="{{heightBox}}px">
                                                                    <StackLayout col="0" row="0">
                                                                        <Label class="foz-411-13 foz-360-13 foz-18"
                                                                               style="margin-top:5px;color: #646464;text-align: left;font-weight: bold;margin-left: 20px;"
                                                                               textWrap="true"
                                                                               text="Actividad finalizada"></Label>
                                                                        <Label class="foz-411-13 foz-360-13 foz-18"
                                                                               style="color: #646464;text-align: left;margin-left: 20px;"
                                                                               textWrap="true"
                                                                               text="{{item.fecha | date : 'dd/MM/yyyy'}}"></Label>
                                                                    </StackLayout>
                                                                    <StackLayout col="1" row="0" rowSpan="2">
                                                                        <StackLayout style="margin-top: 20px;">
                                                                            <Image
                                                                                    *ngIf="item.flujos[i].calificacion == 1"
                                                                                    src="~/images/enojado.png"
                                                                                    stretch="aspectFit" width="40%"
                                                                                    style="border-color: black;border-width: 1;border-radius: 80%;">
                                                                            </Image>
                                                                            <Image
                                                                                    *ngIf="item.flujos[i].calificacion == 2"
                                                                                    src="~/images/llorando.png"
                                                                                    stretch="aspectFit" width="40%"
                                                                                    style="border-color: black;border-width: 1;border-radius: 80%;">
                                                                            </Image>
                                                                            <Image
                                                                                    *ngIf="item.flujos[i].calificacion == 3"
                                                                                    src="~/images/contento.png"
                                                                                    stretch="aspectFit" width="40%"
                                                                                    style="border-color: black;border-width: 1;border-radius: 80%;">
                                                                            </Image>
                                                                            <Image
                                                                                    *ngIf="item.flujos[i].calificacion == 4"
                                                                                    src="~/images/enamorado.png"
                                                                                    stretch="aspectFit" width="40%"
                                                                                    style="border-color: black;border-width: 1;border-radius: 80%;">
                                                                            </Image>
                                                                        </StackLayout>
                                                                    </StackLayout>
                                                                </GridLayout>
                                                            </StackLayout>
                                                        </StackLayout>
                                                    </DockLayout>
                                                </ScrollView>
                                            </StackLayout>
                                            <StackLayout style="margin-top: 20px;" (tap)="borrarActividad(item.id)">
                                                <GridLayout rows="*" columns="*,*" width="95%" height="230px">
                                                    <StackLayout row="0" col="0"
                                                                 style="background-color: #F5F5F5;border-radius: 26%;margin-right:35px;">
                                                        <StackLayout width="80px" height="80px"
                                                                     style="align-items: center;background-color: #F5F5F5;border-radius: 55%;
                                                                     margin-top: 15px;border-color: #646464;border-width: 2;">
                                                            <Image src="~/images/x.png" stretch="aspectFit"
                                                                   width="50%" style="margin-top: 10px">
                                                            </Image>
                                                        </StackLayout>
                                                        <StackLayout width="100%">
                                                            <Label class="foz-411-13 foz-360-13 foz-18"
                                                                   style="border-left: 10px; color: #646464;text-align: center;"
                                                                   textWrap="true"
                                                                   text="Abandonar esta ruta para iniciar una nueva"></Label>
                                                        </StackLayout>
                                                    </StackLayout>
                                                </GridLayout>
                                            </StackLayout>
                                        </StackLayout>
                                    </StackLayout>
                                </ScrollView>
                            </GridLayout>
                        </TabContentItem>
                        <TabContentItem>
                            <mi-historia (mostrarMenuEvent)="MostrarMenu()"
                                         (showPopUpEvent)="showPopupMenu('popup-menu-btn-3')"></mi-historia>
                        </TabContentItem>
                    </BottomNavigation>
                </StackLayout>
            </StackLayout>
        </RadSideDrawer>
    </GridLayout>
</GridLayout>
